<p>A tiny little contribution to AngularJS and ngTranslate community.</p>

<p>Based on the awesome <a href="https://github.com/angular-translate/angular-translate">Angular-translate</a></p>

<h3>"Multilingual development made easy"</h3>

<p>Translators can't handle JSON files that developers give them. They need a tool.</p>

en.json sample
<pre>
  {
    "header": {
      "notification": {
        "TITLE": "Notifications",
        "NO_NEWS": "You have no notifications",
        "SEE_ALL": "See all the notifications"
      }
    },
    "aside": {
      "nav": {
        "LOGOUT": "Logout"
      }
    }
  }
</pre>

fr.json sample
<pre>
  {
    "header": {
      "notification": {
        "TITLE": "Notifications",
        "NO_NEWS": "",
        "SEE_ALL": "Voir toutes les notifications"
      }
    },
    "aside": {
      "nav": {
        "LOGOUT": ""
      }
    }
  }
</pre>

