<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <h4 for="exampleInputFile">1 - Source file</h4>
      <input type="file" onchange="angular.element(this).scope().readFile(this.files, 'source')">
      <p class="help-block">e.g en.json</p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <h4 for="exampleInputFile">2 - Destination file</h4>
      <input type="file" onchange="angular.element(this).scope().readFile(this.files, 'dest')">
      <p class="help-block">e.g fr.json</p>
    </div>
  </div>
</div>

<h4>3 - Edit the translation</h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Keys({{data.finalJson.length}})</th>
      <th>EN</th>
      <th>Translation</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data.finalJson">
      <td>{{$index + 1}}</td>
      <td class="text-muted" style="word-break: break-all;">{{item.key}}</td>
      <td><b>{{item.en}}</b></td>
      <td>
        <div class="form-group" ng-class="{'has-error': !item.translate}">
          <textarea class="form-control" ng-model="item.translate" required rows="5" cols="360"></textarea>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<footer class="sticky-footer">
  <div class="container">
    <button class="btn btn-primary" ng-disabled="data.disableDownload" ng-click="exportJson()">4 - Export <span ng-hide="data.disableDownload">{{data.files.dest}}</span></button>
    <span class="text-muted" ng-show="data.disableDownload">Select files first!</span>
  </div>
</footer>

  
